body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    margin: auto;
    max-width: 900px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: '\2022';
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}